        html, body {
		height:100%;
		cursor: url('../images/flecha1.cur'), auto;
	}

        body {
                margin:0; 
                padding:0;
  		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size: 13px;
                background-color:#FFFFFF;
		background: url("../images/dot.jpg") center top repeat-x #FFFFFF;
        }

	a:link {
		color: #8C6B2F;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none;
	}

	a:visited {
		color: #745927;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: none;
	}

	a:hover{
		color: #745927;
		cursor: url('../images/flecha1.cur'), auto;
		font-family: Verdana, Arial, Helvetica, sans-serif;
		text-decoration: underline;
	}

        div#tudo {
                position:relative;
                width:760px;
                min-height:100%;
                text-align:left;
                margin:0 auto;
                background-color:#faf0e4;
                border-right:3px solid #cea663;
                border-left:3px solid #cea663;
        }
        * html div#tudo { height: 100%; }
        div#conteudo { padding-bottom:60px; }
        
        div#topo {
                width:760px;
                height:215px;
                text-align:center;
                background-color:#cea663;
        }

        div#barra {
		width: 100%;
		height: 40px;
		background: url("../images/bgaviso.jpg") center repeat-x;
		font-size: 1.0em;
		font-weight: bold;
		text-align:center;
	}

        div#textoAviso {
		padding-top:12px;
		font-size: 1.0em;
		font-weight: bold;
		text-align:center;
	}

        div#menus {
                float:left;
                width:163px;
		padding-left: 5px;
        }

.avatar
{
      width: 156px;
      height: 154px;
      background: url("../images/backava.jpg");
      background-repeat: no-repeat;
      padding-top: 8px;
      padding-left: 9px;
}

.itembg1
{
      width: 36px;
      height: 36px;
      background: url("../images/itembg1.jpg");
      background-repeat: no-repeat;
      padding-top: 2px;
      padding-left: 2px;
}

.itembg2
{
      width: 36px;
      height: 36px;
      background: url("../images/itembg2.jpg");
      background-repeat: no-repeat;
      padding-top: 2px;
      padding-left: 2px;
}

.itembg3
{
      width: 36px;
      height: 36px;
      background: url("../images/itembg3.jpg");
      background-repeat: no-repeat;
      padding-top: 2px;
      padding-left: 2px;
}

.itembg4
{
      width: 36px;
      height: 36px;
      background: url("../images/itembg4.jpg");
      background-repeat: no-repeat;
      padding-top: 2px;
      padding-left: 2px;
}

.itembg5
{
      width: 36px;
      height: 36px;
      background: url("../images/itembg5.jpg");
      background-repeat: no-repeat;
      padding-top: 2px;
      padding-left: 2px;
}

        div#borda {
        width:562px;
	float: left;
	padding: 5px 0px 5px 0px;
	margin: 5px 0px 5px 0px;
        }

        div#principal {
        width:562px;
	padding: 5px;
	border-left: 2px solid #CEA663;
        }
        
        div#rodape {
                position:absolute;
                bottom:0;
                width:760px;
                text-align:center;
                background-color:#cea663;
        }

        div#rodape p {
                margin:0;
                color:#fff;
        }

        div.clear {
                width:100%;
                height:0;
                overflow:hidden;
                clear:both;
        }


	input, select, textarea
	{
		border-left: 6px solid #B9892F;
		border-right: 1px solid #B9892F;
		border-top: 1px solid #B9892F;
		border-bottom: 1px solid #B9892F;
		background-color: #FDF5E6;
  		font-weight: bold;
	}

	fieldset
	{
		border-left: 6px solid #B9892F;
		border-right: 1px solid #B9892F;
		border-top: 1px solid #B9892F;
		border-bottom: 1px solid #B9892F;
		background-color: #FFECCC;
  		padding: 2px;
  		margin: 2px;
	}

	.row1
	{
		background-color: #E1CBA4;
	}

	.row2
	{
		background-color: #F0E6D2;
	}

	td
	{
		vertical-align: top;
  		font-family: Verdana, Arial, Helvetica, sans-serif;
  		font-size: 13px;
	}

	td.off {
		background: #FDF5E6;
	}

	td.on {
		background: #FDFFB7;
	}

	div.off {
		background-color:#FFFFFF;
		align: center;
		padding:5px;
		border: 1px solid #DEDEDE;
		margin-bottom:10px;
	}

	div.on {
		background-color:#FFFDE0;
		align: center;
		padding:5px;
		border: 1px solid #DEDEDE;
		margin-bottom:10px;
	}
