/* menu */
.mainmenu {
	cursor: pointer; 
	margin-left:5px;
	margin-right:5px;
}
.rtop {
	display:block;
	background: #F6EFC3;
}

.rbottom {
	display:block;
	background: #C7AD7C;
	margin-bottom:5px;
}

.rtop2 {
	display:block;
	background: #F6EFC3;
}

.rbottom2 {
	display:block;
	margin-bottom:5px;
}

.rtop *, .rbottom * {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #C7AD7C;
	
}

.rtop2 *, .rbottom2 * {
	display: block;
	height: 1px;
	overflow: hidden;
	background: #C7AD7C;
	
}

.r1 {margin: 0 5px}
.r2 {margin: 0 3px}
.r3 {margin: 0 2px}
.r4 {
	margin: 0 1px;
	height: 1px;
}

.menu-item {
	background: #AF1900;
	text-align: right;
	font-weight: bold;
	font-size:14px;
	color: #EEE;
	padding-right: 15px;
	padding-top:3px;
	padding-bottom:3px;
	
}

.menu-item2 {
	background: #C7AD7C;
	text-align: right;
	font-weight: bold;
	font-size:14px;
	color: #EEE;
	padding-right: 15px;
	padding-top:3px;
	padding-bottom:3px;
	text-align: center;
	
}